<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :sale_id, value: @sale.id %>

  <%= form.hidden_field :value, value: @sale.total %>

  <h2>Pagamento da Venda ##<%= @sale.id %></h2>
  <p><strong>Valor total:</strong> <%= number_to_currency(@sale.total, locale: 'pt-BR') %></p>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value, value: number_to_currency(@sale.total, locale: 'pt-BR') %>
  </div>

  <div>
    <%= form.label :method, style: "display: block" %>
    <%= form.text_field :method %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
