<%= form_with(model: sale) do |form| %>
  <% if sale.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
        <% sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.select :customer_id, @customers.map{|customer| [customer.name, customer.id]}, include_blank: 'Selecione' %>
  </div>

  <div class="form-group">
    <%= form.label :product_id, style: "display: block" %>
    <%= form.select :product_id, @products.map{|product| [product.name, product.id]}, include_blank: 'Selecione' %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
