<tr>
  <th scope="row"><%= link_to  sale.id.to_s, sale_path(sale), title: 'Ir para pagamento', data: { bs_toggle: "modal", bs_target: "#exampleModal" }   %></th>
  <td><%= sale.product.name %></td>
  <td><%= sale.quantity %></td>
  <td><%= number_to_currency(sale.total, locale: 'pt-BR') %></td>
  <td style="display: flex;">
    <% if sale.payments.any? %>
      <span class="text-success">Pago</span>
    <% else %>
      <%= link_to '<i class="bi bi-cash-coin"></i>'.html_safe, new_sale_payment_path(sale), class: 'btn btn-warning mx-1', title: 'Ir para pagamento' %>
    <% end %>
  </td>
</tr>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Dados da Venda</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Cliente: <%= sale.customer.name %></p>
        <p>Produto: <%= sale.product.name %></p>
        <p>Quantidade: <%= sale.quantity %></p>
        <p>Valor total: <%= number_to_currency(sale.total, locale: 'pt-BR') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
